body {
    margin: 0;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 70px;
    margin: 0.2em;
}

.formRaw {
    width: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.formRaw > p {
    width: 60%;
    font-size: 20px;
    font-family: 'VT323', monospace;
    color: #fff;
    margin: 10px 0;
}

input {
    height: 30px;
    border: solid 2px #fff;
    background: #111;
    color: #fff;
    box-sizing: border-box;
}

.formRaw > input {
    text-align: center;
    font-size: 20px;
    width: 35%;
    font-family: 'VT323', monospace;
}

.formRaw > input[type=submit] {
    width: auto;
    margin: 10px 0;
}

button {
    border: solid 2px #fff;
    background: #111;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'VT323', monospace;
    margin: 10px 0;
    height: 30px;
}

.formRaw > button {
    width: 35%;
}

#app {
    width: 100vw;
    height: 100vh;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#header {
    width: 100vw;
    height: 100px;
    text-align: center;
}

#content {
    width: 100vw;
    height: calc(100vh - 100px);

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#options {
    width: 250px;
    height: 100%;
    background: #111;
    box-sizing: border-box;
    border-right: solid 2px #fff;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#editor {
    height: 100%;
    width: calc(100vw - 250px);
    background: #111;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sectionTitle {
    width: 100%;
}

.sectionTitle > h2 {
    font-family: 'VT323', monospace;
    font-size: 30px;
    margin: 15px 0;
    text-align: center;
    color: #fff;
}

.sectionTitle:hover {
    background-color: #fff;
}

.sectionTitle:hover > h2 {
    color: #111;
}

.sectionContent {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

#canvasWrap {
    width: 400px;
    height: 400px;
}

#activeCanvas {
    position: absolute;
    background: transparent;
    cursor: crosshair;
}

#passiveCanvas {
    position: absolute;
    color: transparent;
    cursor: crosshair;
}

#previewCanvas {
    position: absolute;
    color: transparent;
    cursor: crosshair;
}

#canvasWrap {
    border: solid 2px #fff;
    background: white;
}

/* Toggle buttons */
/* ==================================================================== */

.formRaw > .switch {
    margin: 10px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #ccc;*/
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #111;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #fff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
}
